---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #533968;
$header-bg-color-secondary: #753C64;

// Text
$section-headings-color: #533968;
$body-text-color: #606c71;
$body-link-color: #1e6bb8;

@import "{{ site.theme }}";

.page-header {
  background-image: url(/assets/images/logo-very-large.png);
  background-position: center;
  background-size: cover;
    
  @include large {
    padding: 10rem 6rem;
  }

  @include medium {
    padding: 6rem 4rem;
  }

  @include small {
    padding: 4rem 1rem;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; 
}
